.top {
    color: #999;
    background: #f2f2f2;
}

.right-bar {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 36px;
    background-color: black;
    z-index: 10;

}

.ewm:hover>.tc-img,
.right-bar a:hover>.tc-text-box {
    visibility: visible;
    right: 100%;
    opacity: 1;
    transition: 0.4s;
}

.ewm:hover>.tc-img {
    top: -100%;
}

.gwc:hover {
    background: url("image/gwc-r.png") no-repeat 0px 0px;
}

.btn-list-box {
    position: absolute;
    top: 20%;
    z-index: 12;
}

.btn-list-bto {
    position: absolute;
    bottom: 0px;
    z-index: 11;
}

.btn-icon {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    background: url("image/right-btn-list.png") no-repeat;
    margin-bottom: 10px;
}

.btn-icon-b {
    display: block;
    width: 36px;
    height: 36px;
    background: url("image/right-btn-bot.png") no-repeat;
}

.yufk {
    background-position: 8px 5px;
}

.ewm {
    background-position: 8px -29px;
}

.fhdb {
    background-position: 8px -63px;
}

.hyqy {
    background-position: 4px 8px;
}

.gwc {
    display: block;
    width: 36px;
    height: 100px;
    background: url("image/right-btn-list.png") no-repeat 4px -37px;
}

.wdzc {
    background-position: 3px -143px;
}

.wdsc {
    background-position: 3px -188px;
}

.wdkg {
    background-position: 3px -231px;
}

.wdcz {
    background-position: 3px -274px;
}

.tc-img {
    visibility: hidden;
    right: 100%;
    position: absolute;
    opacity: 0;
}

.tc-text-box {
    visibility: hidden;
    width: 100px;
    height: 38px;
    right: 188%;
    line-height: 38px;
    color: white;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.74);
    opacity: 0;
}

/* hhhhhhhhhhhhhhhhhh */
.top a {
    color: #999;
    line-height: 32px;
    text-decoration: none;
    margin-right: 10px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.top-bar {
    width: 1190px;
    margin: 0px auto;
}

.top-bar-left {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    margin-left: 5px;
}

.top-bar-left>img {
    vertical-align: middle;
}

.top-bar-left>span {
    color: #999;
    line-height: 32px;
    margin-right: 10px;
    text-decoration: none;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.top-bar-left a {
    display: inline-block;

}

.top-bar-left a:hover {
    color: #eb2929;
}

.top-bar-right {
    display: block;
    width: 600px;
    float: right;
    line-height: 32px;
    height: 32px;
}

.top-bar-right>ul {
    float: right;
}

.top-bar-right li {
    display: inline-block;
}

.top-bar-right a {
    display: block;

}

.top-bar-right a:hover {
    color: #eb2929;
}

.wzdh:hover+.dhl,
.sjzc:hover+.sj,
.sjb:hover+.erweima,
.scj:hover+.collection,
.myTB:hover+.show-buy,
.wzdh.sj:hover,
.sjzc:hover,
.scj:hover,
.sjb:hover,
.myTB:hover,
.sj:hover,
.dhl:hover,
.show-buy:hover,
.erweima:hover,
.collection:hover {
    display: block;
    background-color: white;
    z-index: 100;
}


.dhl,
.sj,
.erweima,
.collection,
.show-buy {
    display: none;
    padding-top: 15px;
    position: absolute;
    border: 1px solid #ccc;
    border-top: 0px;
}


.collection a,
.show-buy a {
    color: black;
    line-height: 1em;
    margin-bottom: 10px;
}

.dhl {
    border: 1px solid #ccc;
    left: -1100px;
    top: 32px;
}

.erweima {
    padding: 7px;
    left: -58px;
    top: 32px;
}

.collection {
    width: 82px;
}

.show-buy {
    widows: 94;
}

.sj {
    width: 170px;
    padding: 3px;
}

.sj a {
    color: black;
    line-height: 1em;
    margin-bottom: 5px;

}

.sj ul {
    line-height: 1.5em;
    display: block;
    color: black;

}

.sj ul li {
    display: inline-block;
    width: 80px;
    margin: 0px auto;

}

.sj-box {
    border-bottom: 1px dashed #ccc;
}


.quan {

    width: 1190px;
    margin: 0px auto;
}

.top-head-headerlayout {

    padding-top: 26px;
    margin: 0 auto;
    width: 1190px;
    position: relative;
}


.top-head-headercon>img {

    width: 280px;
    float: left;
    height: 64px;
    position: relative;
    font-size: 100%;
}

.center-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 128px;
}

.center-box li {
    display: inline-block;
    margin: 0px 3px;
    color: #999;


    margin-right: 10px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.center-box li a {
    color: #999;

    text-decoration: none;
    margin-right: 3px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.sousuolan {
    display: inline-flex;
    align-items: center;
    width: 550px;
    margin-bottom: 6px;
}

.sousuolan-text {
    width: 440px;
    height: 38px;
    border: 2px solid #eb2929;
    padding-left: 5px;
}

.sousuolan-btn {
    width: 133px;
    height: 42px;
    border: 0px;
    background-color: #eb2929;
    color: white;
    font-size: 18px;
    font-weight: 650;
}

.top-head-allright-right {

    height: 80px;
    display: inline-block;
    width: 190px;
    position: absolute;
    margin-left: 124px;
    margin-top: -26px;


}

.top-head-allright-right>a>img {
    position: absolute;
    width: 190px;
    height: 80px;
    vertical-align: middle;
    position: absolute;

}

.quan>hr {
    margin-top: 10px;
    color: #999;
}

.top2-main-xia-ssl {

    text-align: center;
    display: inline-block;
    color: #999;
    text-decoration: none;
    margin-right: 10px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
    width: 100%;
    margin-top: 10px;

}

.top2-main-xia-ssl>a {
    margin-left: 30px;
    margin-right: 5px;
    float: left;
}

.top2-main-xia-ssl-1 {
    margin-right: 10px;
    float: left;
}

.top2-main-xia-ssl-a {

    background-image: url(image/ssl.jpg);
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}

.top2-main-xia-ssl-2 {
    float: right;
}

.top2-main-xia-ssl-3 {
    font-weight: 600;
}

.top3-main-zhong {
    width: 100%;
    margin: 0px auto;
    border: 2px solid #999;
    position: relative;
    background: #f2f2f2;
    margin-top: 10px;
}

.top3-main-zhong-quan {
    border: 1px solid #e1e1e1;
    background: white;
    width: 89.8%;
    line-height: 22px;
    overflow: hidden;
    margin: -1px -1px 0 0;
    margin-left: 10%;
    margin-top: -20px;
}

.top3-main-zhong>span {
    color: #999;
    margin-left: 23px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.top3-main-zhong-right {

    width: 93px;
    float: right;
    line-height: 1em;
    vertical-align: top;
}


.top3-main-zhong-right>a {
    color: #999;
    margin-right: 3px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";

}

.top3-main-zhong-right>.top3-main-zhong-right-1 {

    background: #f2f2f2;


}

.top3-main-zhong-center {

    display: inline-block;
    width: 750px;
    margin-left: 80px;

}



.top3-main-zhong-center>ul>li {
    display: inline-block;
    border: 1px solid #e1e1e1;
    width: 104px;
    text-align: center;
    height: 52px;
    line-height: 52px;
    margin: 3px;
}

.top3-main-zhong-center>ul>li>a {
    border: 1px solid #e1e1e1;
    padding: 0;
    line-height: 52px;
    height: 50px;
    width: 102px;
    border: 1px solid transparent;
    float: left;
}

.top3-main-zhong-center>ul>li>a>img {
    width: 80px;
    height: 40px;


}

.top3-main-zhong-center>ul>li:hover {
    border: 1px solid red;
}

.top3-main-zhong-center>ul>li>a:hover {
    border: 1px solid red;
}


.top3-main-zhong-center1 {
    background: url(./image/q7.png) no-repeat;
}

.top3-main-zhong-center1:hover {
    background: url(./image/w9.png) no-repeat;
}

.top3-main-zhong-center2 {
    background: url(./image/q2.jpg) no-repeat;
}

.top3-main-zhong-center2:hover {
    background: url(./image/w11.png) no-repeat;
}

.top3-main-zhong-center3 {
    background: url(./image/q4.jpg) no-repeat;
}

.top3-main-zhong-center3:hover {
    background: url(./image/w6.png) no-repeat;
}

.top3-main-zhong-center4 {
    background: url(./image/q5.png) no-repeat;
}

.top3-main-zhong-center4:hover {
    background: url(./image/w7.png) no-repeat;
}

.top3-main-zhong-center5 {
    background: url(./image/q6.png) no-repeat;
}

.top3-main-zhong-center5:hover {
    background: url(./image/w8.png) no-repeat;
}

.top3-main-zhong-center6 {
    background: url(./image/qq1.png) no-repeat;
}

.top3-main-zhong-center6:hover {
    background: url(./image/ww1.png) no-repeat;
}

.top3-main-zhong-center-hide {
    display: none;
    line-height: 1em;
    overflow-y: scroll;
    width: 1012px;
    margin: 0px 0px 10px 20px;
}

.top3-main-zhong-item {
    background: url("image/r1.png") no-repeat -15px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item1 {
    background: url("image/r1.png") no-repeat -142px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item2 {
    background: url("image/r1.png") no-repeat -275px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item3 {
    background: url("image/r1.png") no-repeat -538px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item4 {
    background: url("image/r1.png") no-repeat -668px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item5 {
    background: url("image/r1.png") no-repeat -798px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item6 {
    background: url("image/r1.png") no-repeat -928px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item7 {
    background: url("image/r1.png") no-repeat -1064px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item8 {
    background: url("image/r1.png") no-repeat -1064px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item9 {
    background: url("image/r1.png") no-repeat -668px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item10 {
    background: url("image/r1.png") no-repeat -798px -9px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item11 {
    background: url("image/r1.png") no-repeat -142px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item12 {
    background: url("image/r1.png") no-repeat -275px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item13 {
    background: url("image/r1.png") no-repeat -538px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item14 {
    background: url("image/r1.png") no-repeat -668px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item15 {
    background: url("image/r1.png") no-repeat -803px -75px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item16 {
    background: url("image/r1.png") no-repeat -928px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item17 {
    background: url("image/r1.png") no-repeat -1064px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item18 {
    background: url("image/r1.png") no-repeat -1064px -139px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item19 {
    background: url("image/r1.png") no-repeat -15px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item19 {
    background: url("image/r1.png") no-repeat -15px -74px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item20 {
    background: url("image/r1.png") no-repeat -145px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item21 {
    background: url("image/r1.png") no-repeat -275px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item22 {
    background: url("image/r1.png") no-repeat -538px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item23 {
    background: url("image/r1.png") no-repeat -405px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item24 {
    background: url("image/r1.png") no-repeat -668px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item25 {
    background: url("image/r1.png") no-repeat -798px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item26 {
    background: url("image/r1.png") no-repeat -1064px -206px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item27 {
    background: url("image/r1.png") no-repeat -15px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item28 {
    background: url("image/r1.png") no-repeat -145px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item29 {
    background: url("image/r1.png") no-repeat -275px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item30 {
    background: url("image/r1.png") no-repeat -545px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item31 {
    background: url("image/r1.png") no-repeat -405px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item32 {
    background: url("image/r1.png") no-repeat -668px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item33 {
    background: url("image/r1.png") no-repeat -798px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item34 {
    background: url("image/r1.png") no-repeat -1064px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item35 {
    background: url("image/r1.png") no-repeat -15px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item36 {
    background: url("image/r1.png") no-repeat -145px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item37 {
    background: url("image/r1.png") no-repeat -275px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item38 {
    background: url("image/r1.png") no-repeat -538px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item39 {
    background: url("image/r1.png") no-repeat -405px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item40 {
    background: url("image/r1.png") no-repeat -668px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item41 {
    background: url("image/r1.png") no-repeat -798px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}

.top3-main-zhong-item24 {
    background: url("image/r1.png") no-repeat -1064px -276px;
    width: 104px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}


.top3-main-zhong-center-hide>a>span {
    line-height: 52px;
    display: none;
}

.top3-main-zhong-center-hide>a:hover {
    background: none;
    border: 1px solid red;
}

.top3-main-zhong-center-hide>a:hover span {
    display: inline;
}

.top4-main-all {
    width: 100%;
    margin: 0px auto;
    border: 1px solid #999;
    background: #f2f2f2;

}

.top4-main-all-left {
    width: 8%;
    vertical-align: top;
    float: left;
}

.top4-main-all-left>span {
    color: #999;
    margin-right: 3px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.top4-main-all-left>span>img {
    vertical-align: middle;
}

.top4-main-all-right {
    background-color: #FFF;
    width: 90%;
    overflow: hidden;
    float: right;
    margin-top: 1px;


}



.top4-main-all-right>ul>li {
    display: inline-block;
    margin-right: 60px;
    margin-left: 30px;
    color: rgb(97, 94, 94);
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";

}

.top4-main-all-right>ul>li>a {
    color: rgb(97, 94, 94);
}

.top4-main-all-right>ul>li>a:hover {
    color: red;
}


.top4-main-all-right>ul>a {
    float: right;
    color: rgb(17, 16, 16);
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}


/* hhhhhhhhhhh */

.center-top-main {
    margin-top: 20px;
    background: #f2f2f2;
}

.center-main-left-paixu {
    display: inline-block;
    width: 240xp;
}

.center-main-left-paixu>a {
    border: 1px solid #ccc;

    color: #999;
    width: 45px;
    height: 22px;
    float: left;
    margin: 0px;
}



.center-main-left-paixu>a {

    font-size: 14px;
    color: rgb(117, 109, 109);

}

.center-main-left-paixu>a:hover {

    background: #CCC;
    color: red;
}

.center-main-left-paixu>a>span {
    margin-left: 2px;
    font-weight: 600;
    font-size: 16px;
}

.center-center-left {

    display: inline-block;
    width: 113px;
    height: 22px;
    line-height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    background: url(image/aaaaaaaa.png) right bottom no-repeat;
    margin-top: 1px;

}

.center-center-left-1 {
    text-decoration: none;
    background-color: #F7F5F5;
    position: absolute;
    padding-left: 4px;
    height: 100%;
    color: #B0A59F;
    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";
    line-height: 20px;

}

.center-center-left-2 {
    margin-left: 52px;
    width: 54px;
    height: 22px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    line-height: 20px;
    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";

}

.center-center2-zhong {
    display: inline-block;
    color: rgb(117, 109, 109);
    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";
    height: 24px;
    vertical-align: top;

}

.center-center2-zhong>input {
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    padding-left: 2px;
    cursor: text;
    color: rgb(117, 109, 109);
    margin-top: 6px;
}

.center-center3 {
    vertical-align: top;
    display: inline-block;

    width: 300px;
    height: 22px;
    border: 1px solid #ccc;
    color: rgb(117, 109, 109);
    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";
    margin-top: 6px;
}

.center-center3>input {
    vertical-align: middle;
}

.center-center3>span {
    font-weight: 700;
}

.center-center3>a {
    float: right;
    margin-right: 8px;
    color: rgb(117, 109, 109);
    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";
}

.center-center3>a:hover {
    color: red;
}

.center-center4 {
    display: inline-block;
    margin-top: 4px;
}

.center-center4>a {
    border: 1px solid #ccc;
    width: 50px;
    height: 24px;

    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";
    float: left;
}

.center-center4-a1 {
    color: rgb(117, 109, 109);

}

.center-center4-a2 {
    color: red;
    background: #CCC;
}

.center-center4>a:hover {
    color: red;
    background: #CCC;
}

.center-center5 {

    vertical-align: top;
    float: right;
    margin-top: 6px;
}

.center-center5>span {
    color: rgb(117, 109, 109);
    font: 14px/1.5 tahoma, arial, "\5b8b\4f53";

}

.center-center5>a {
    border: 1px solid #ccc;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.center-center5-a1 {
    background: #CCC;

}

.center-center5-a2:hover {
    color: red;
    background: #CCC;
}

/* hhhhhhhhhhhhhhhhhhhhh */
.main-center-main {
    margin-top: 20px;
}

.main-center-m {


    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.main-center-m1 {
    display: inline-block;
    width: 220px;
    height: 377px;
    border: 2px solid #ccc;
    vertical-align: top;
    position: relative;
    margin-right: 8px;
    margin-top: 8px;

}

.main-center-m1:hover {
    border: 2px solid red;
}

.main-center-m1>a>.main-img1 {
    width: 209px;
    height: 209px;
    margin-top: 3px;
    margin-left: 3px;

}

.main-center-m1>a>.main-img2 {

    display: table-cell;
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 3px;
    padding: 1px;
    font-size: 0;
    text-align: center;
    border: 1px solid #CCC;
    margin-top: 10px;
    margin-left: 5px;
}

.jiage {
    display: inline-block;
    font-weight: 700px;
    font-size: 17px;
    color: red;
    margin-left: -208px;
    margin-top: 8px;


}

.main-center-m1>span>a {

    margin-left: 3px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";

}

.main-center-m1>.main-text1 {


    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";

    margin-left: -80px;

    color: #999;
    text-decoration: underline;


}

.main-center-m1>a:hover {
    color: red;
}

.main-center-m1>p {
    position: relative;
    float: left;
    margin-top: 17px;
    width: 100%;


}

.zfd {
    float: left;
}

.zjbfd {
    max-width: 30px;
    margin: 0px auto;
}

.main-center-m1>p>span {
    display: inline-block;
    border: 1px solid #CCC;
    padding: 5px 5px;


    line-height: 10px;
    color: #999;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
    margin: 0px 6px 0px 0px;
}

.main-center-m1>p>a {

    border: 1px solid #CCC;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
    color: #999;
    padding: 5px 1px;



}

.main-img3 {
    float: right;
}


.main-center-m1>p>a>img {

    vertical-align: middle;
    width: 16px;
    height: 16px;


}

.main-text2 {

    font-weight: 700px;
    color: rgb(146, 47, 47);
}

.main-text3 {

    font-weight: 600px;
    color: rgb(51, 145, 233);
}

.bottem-main-center>p {
    width: 600px;
    margin: 0px auto;
}

.bottem-main-center>p>a {
    font: 14px;
    color: rgb(17, 66, 131);
    border: 1px solid #CCC;
    padding: 10px;
    text-align: left;
}

.bottem-main-center>p>a:hover {
    background: #CCC;
    text-decoration: underline;
}

.bottem-main-text {
    float: left;
    margin-top: -10px;
}

.bottem-main-text2 {
    border: 1px solid white;
    float: left;

}

.bottem-main-center>p>span {

    font: 14px;
    color: #999;
    margin-top: 0px;
}

.bottem-main-center {
    margin-top: 50px;
    position: relative;
}

.bottem-main-center-1 {
    font: 14px;
    color: #999;
    text-align: center;

}

.bottem-main-center>p>img {
    position: absolute;
    margin-left: -287px;
    margin-top: -39px;
}

.bottem2-center {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #CCC;
    color: #999;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.bottem2-center>ul>li {
    display: inline-block;
    margin-right: 20px;
}

.bottem2-center>ul>li>a {
    color: #999;


    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

.bottem3-main {
    width: 100%;
    margin-top: 20px;
}

.bottem3-main-text1 {
    font-weight: 700;
    font-size: 17px;
    float: left;
    margin-left: 10px;

}

.bottem3-main-text2 {
    font-weight: 600;
    font-size: 16px;
    float: right;
    margin-right: 20px;

}

.bottem3-main-text2>img {
    vertical-align: middle;
}

.bottem4-main {

    margin: 0px auto;
    margin-top: 5px;
}

.bottem4-main-tu {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 226px;
    height: 329px;
    list-style: none;
    font-size: 12px;
    margin-top: 2px;
}

.bottem4-main-tu:hover {
    border: 2px solid red;
}

.bottem4-main-tu-img>a>img {
    display: table-cell;
    overflow: hidden;
    width: 216px;
    height: 216px;
    vertical-align: middle;
    text-align: center;
    padding: 4px;
}

.bottem4-main-tu-text1 {

    font-weight: 700px;
    font-size: 17px;
    color: red;

    margin-top: 8px;

}

.bottem4-main-tu-text2 {
    color: #999;


    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";


}

.bottem4-main-tu-text3 {
    font-weight: 700px;
    color: rgb(146, 47, 47);
}

.bottem4-main-tu-righ {
    float: right;
}

.bottem4-main-tu-text {
    margin-top: 20px;
}

.bottem4-main-tu-text>span>a {
    color: rgb(65, 62, 62);
    margin-bottom: 60px;
    margin-left: 3px;
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";

}

.bottem4-main-tu-text>.main-text1 {
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
    color: #999;
    text-decoration: underline;


}

.bottem4-main-tu-text>.main-text2 {
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
    color: #999;
    text-decoration: underline;
    float: right;
}

.bottem4-main-tu-text>a:hover {
    color: red;
}

.bottem5-ssl {
    margin-top: 50px;
    background: #f2f2f2;
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;

}

.bottem5-ssl-sousuolan {
    display: inline-flex;

    width: 520px;
    margin-bottom: 6px;


}

.bottem5-ssl-sousuolan-text {
    width: 420px;
    height: 34px;
    border: 2px solid #c00c60;
    padding-left: 5px;
}

.bottem5-ssl-sousuolan-btn {
    width: 123px;
    height: 38px;
    border: 0px;
    background-color: #c00c60;
    color: white;
    font-size: 18px;
    font-weight: 650;
}

.bottem5-last {
    margin-top: 10px;
    margin-left: 3px;
    font: 13px/1.5 tahoma, arial, "\5b8b\4f53";
}

.bottem5-last>img {
    vertical-align: middle;
}

.bottem5-last>a {
    color: blue;
}

.bottom-top {
    border-top: 1px solid #ccc;
    background-color: white;
    border-bottom: 2px solid #eb2929;
    padding-bottom: 20px;
}

.qdbz {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.qdbz li {
    display: inline-block;
}

.qdbz a {
    display: block;
    height: 58px;
    width: 220px;
    padding: 15px;
    background: url("./image/qdbz-img.png") no-repeat 8px 16px;
    margin: 25px;
}

#qdbz-y {
    background-position: 8px 16px;
}

#qdbz-q {
    background-position: -277px 16px;
}

#qdbz-t {
    background-position: -576px 16px;
}

#qdbz-b {
    background-position: -890px 16px;
}

.bottom-ul-box {
    margin-top: 30px;
    text-align: center;
}

.bottom-ul-box ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 118px;
    font-size: 16px;
    color: rgb(119, 114, 114);
    font-weight: 600;
}

.bottom-ul-box a {
    font-weight: 500;
    font: 13px/1.5 tahoma, arial, "\5b8b\4f53";
    color: rgb(131, 131, 131);
}



.bottom-bottom {
    position: relative;
    background-color: black;
}



.bottem-last-bj-logo {
    position: absolute;
    margin-left: 164px;
    margin-top: -30px;
}