.main {
    width: 980px;
    margin: 0px auto;
}


.top-logo-bg {
    padding: 20px 0px;
}

.sousuo {
    float: right;
}

.sousuo input {
    border: 1px solid #ccc;
    height: 28px;
    float: left;
    padding-left: 3px;
}

.sousuo button {
    background: url("img/img/sea_r.jpg") no-repeat;
    width: 32px;
    height: 30px;
    border: 0px;
    float: left;
}

.main-li {
    display: inline;
}

.main-li a {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    padding: 9px 30px;
    margin: 1px 0px;
}

.main-li a:hover {
    background: url("img/img/nav_line.jpg") repeat-x;

}

.bg {
    position: relative;
    background: url("img/img/nav_bg.jpg") repeat-x;
}

.mes-box {
    background-color: rgb(241, 241, 241);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.mes-box .clearfloat {
    padding: 5px 0px;
}

.rig {
    vertical-align: middle;
    float: right;
}

.item {
    width: 32.2%;
    height: 260px;
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 40px;
}

.name {
    color: greenyellow;
    margin-top: 5px;
    margin-left: 5px;
}

.icon {
    vertical-align: middle;
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url("img/img/arrow.jpg") no-repeat;
    margin-right: 5px;
}

.left-icon {
    position: absolute;
    top: 50%;
    left: 30px;
}

.right-icon {
    position: absolute;
    right: 30px;
    top: 50%;
}

.show-item {
    display: block;
    width: 223px;
    height: 146px;
    background: url("img/img/product_pic1.jpg") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more {
    float: right;
    margin-right: 5px;
}

.red-new {
    color: red;
    font-weight: 600;
}

.news-ul {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.news-a {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px dashed #cccccc;
}

.news-ul img {
    margin-left: 20px;
}

.mes {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.mes-a {
    display: inline-block;
    margin-top: 5px;
}

.bottom-bg {
    background-color: #2D2D2D;

}

.bottom-bg ul {
    color: #BBBAB9;
    margin-top: 20px;
}

.bottom-bg ul li {
    margin-top: 8px;
    color: #706F6E;
}

.ul-item {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.ul-item:first-child {
    margin-left: 10px;
}

.foot {
    height: 200px;
    border-bottom: 1px dashed #ccc;
}

.text {
    text-align: center;
    color: black;
}

.text span {
    display: block;
    margin: 10px 0px;
}

.go-to-top {
    display: block;
    width: 198px;
    height: 98px;
    background: url("img/img/top-iocn.png") no-repeat;
}