.top-cm {
    background-color: #f2f2f2;
    color: #999999;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

body {
    background-color: white;
}

.top-bar-left a,
.top-bar-right>ul>li>a {
    color: #999999;
}

.top-cm a {
    color: #666666;
}

.search-box {
    border-bottom: 1px solid #ccc;
}

.felx-box {
    display: inline-block;
    padding-bottom: 25px;
}

.dp-mes {
    display: inline-block;
    margin: 0px 25px;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    padding: 0px 5px;
}

.dp-name {
    color: black;
    font-weight: 650;
}

.dp-name:hover {
    text-decoration: underline;
}

.dp-ppzx {
    display: inline-block;
    background-color: #f4c985;
    color: #856651;
    font-size: 10px;
    font-weight: 650;
    padding: 3px;
}

.ali {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../img/com-mes/ali.png") no-repeat;
    vertical-align: middle;
}

.dp-ms {
    display: inline-block;
    margin: 0px 5px;
    text-align: center;
    color: #999999;
}

.dp-ms span {
    color: #ff0036;
}

.erwm {
    display: inline-block;
    text-align: center;
    color: #999999;
}

.box {
    float: right;
    top: 0px;
    background: #ff0036;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}

.inpu {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 40px;
    float: left;
    width: 0px;
    transition: 0.4s;
}

.search-btn {
    float: right;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;

}

.box:hover>.inpu {
    width: 360px;
    padding: 0px 8px;
}

.box:hover>.search-btn {
    background-color: white;
}

.dp-dh-box {
    margin-bottom: 38px;
}

.dp-xx-box {
    padding: 38px 0px 20px 0px;

}

.dp-xy {
    color: black;
    font-size: 16px;
    float: right;

}

.dp-xy a {
    color: black;
}

.dp-dh {
    background-color: black;
    text-align: center;
}

.dp-dh li {
    display: inline-block;
}

.dp-dh a {
    display: block;
    color: white;
    font-size: 15px;
    font-family: "黑体";
    padding: 16px;
    margin: 0px 36px;
}

.sp-left {
    display: inline-block;
    width: 418px;
}

.sp-left video {
    width: 418px;
    height: 418px;
}

.sp-show-box {
    position: relative;
}

.fdj-wg-box {
    display: none;
    width: 100px;
    height: 100px;
    background-color: rgba(182, 182, 182, 0.356);
    position: absolute;
}

.lbt {
    display: none;
    width: 418px;
    height: 418px;
}

.play-video-but {
    display: none;
    border: none;
    outline: none;
    position: absolute;
    bottom: 20px;
    left: 5px;
    background: none;
    cursor: pointer;
}

.close-video {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.473);
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.fangdajing {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: rgb(143, 143, 143);
    display: none;
}

.fdj-view {
    position: absolute;
    right: -105%;
    top: 0px;
    width: 418px;
    height: 418px;
    background-repeat: no-repeat;
    display: none;
}

.yulantu-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.yulantu-box img:hover {
    outline: 2px solid black;
}